﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Добавить сотрудника</title>
</head>
<body>
    <h1>Добавить сотрудника</h1>
    <form method="post">
        <fieldset>
            <legend>Информация о сотруднике</legend>
            <input type="hidden" name="Employee_ID" value="@ViewBag.Employee_ID" />
            <p>
                <label for="Name">Имя:</label>
                <input type="text" name="Name" />
            </p>

            <p>
                <label for="Surname">Фамилия:</label>
                <input type="text" name="Surname" />
            </p>

            <p>
                <label for="Patronymic">Отчество:</label>
                <input type="text" name="Patronymic" />
            </p>
            <p>
                <label for="Date_of_birth">Дата рождения:</label>
                <input type="date" name="Date_of_birth" />
            </p>

            <p>
                <label for="Position">Должность:</label>
                <input type="text" name="Position" />
            </p>

            <p>
                <label for="Role">Роль:</label>
                <input type="text" name="Role" />
            </p>
            <p><input type="submit" name="buttonSubmit" value="Добавить сотрудника" /></p>
        </fieldset>
    </form>
</body>
</html>