﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Редактирвание сотрудника</title>
</head>
<body>
    <h1>Изменить информацию о сотруднике</h1>
    @Html.ValidationSummary()
    <form method="post">
        <fieldset>
            <legend>Информация о сотруднике</legend>

            <p>
                <label for="Name">Имя:</label>
                <input type="text" name="Name" value="@ViewBag.Worker.Name" />
            </p>

            <p>
                <label for="Surname">Фамилия:</label>
                <input type="text" name="Surname" value="@ViewBag.Worker.Surname" />
            </p>

            <p>
                <label for="Patronymic">Отчество:</label>
                <input type="text" name="Patronymic" value="@ViewBag.Worker.Patronymic" />
            </p>

            <p>
                <label for="Date_of_birth">Дата рождения:</label>
                <input type="date" name="Date_of_birth" value="@ViewBag.Worker.Date_of_birth" />
            </p>

            <p>
                <label for="Position">Должность:</label>
                <input type="text" name="Position" value="@ViewBag.Worker.Position" />
            </p>

            <p>
                <label for="Role">Роль:</label>
                <input type="text" name="Role" value="@ViewBag.Worker.Role" />
            </p>
            <input type="hidden" name="Employee_ID" value="@ViewBag.Worker.Employee_ID" />

            <p><input type="submit" name="buttonSubmit" value="Сохранить изменения" /></p>
        </fieldset>
    </form>
</body>
</html>
