﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Удаление сотрудника</title>
</head>
<body>
    <h1>Удалить информацию о сотруднике</h1>
    @Html.ValidationSummary()
    <form action="" method="post">
        <fieldset>
            <legend>Информация о сотруднике</legend>

            <p>
                <span>Имя:</span>
                <span>@ViewBag.Worker.Name"</span>
            </p>

            <p>
                <span>
                    Фамилия:
                </span>
                <span>@ViewBag.Worker.Surname </span>
            </p>

            <p>
                <span>
                    Отчество:
                </span>
                <span>@ViewBag.Worker.Patronymic </span>
            </p>

            <p>
                <span>
                    Дата рождения:
                </span>
                <span>@ViewBag.Worker.Date_of_birth</span>
            </p>

            <p>
                <span>
                    Должность:
                </span>
                <span>@ViewBag.Worker.Position</span>
            </p>

            <p>
                <span>
                    Роль:
                </span>
                <span>@ViewBag.Worker.Role </span>
            </p>
            <input type="hidden" name="Employee_ID" value="@ViewBag.Worker.Employee_ID" />
            

            
            <p>
                <button type="submit" name="action" value="delete">Удалить</button>
            </p>
            <p>
                <button type="submit" name="action" value="abort">Отмена</button>
            </p>
    


        </fieldset>
    </form>
</body>
</html>
