﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ошибка</title>
</head>
<body>
    <form method="post">
        Были введены неверные или неполные данные
        <div>
            <p><input type="submit" name="buttonSubmit" value="Вернуться к списку сотрудников" /></p>
        </div>
        </form>
</body>
</html>
