﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Инвентаризация</title>
</head>
<body>
    <div>
        <h3>Список работников</h3>
        <table>
            <tr>
                <td><p>Идентификатор</p></td>
                <td><p>Имя</p></td>
                <td><p>Фамилия</p></td>
                <td><p>Отчество</p></td>
                <td><p>Дата рождения</p></td>
                <td><p>Должность</p></td>
                <td><p>Роль</p></td>
                <td></td>
            </tr>
            
            @foreach (var b in ViewBag.Employees)
            {
            <tr>
                <td><p>@(ViewBag.temp = b.Employee_ID)</p></td>
                <td><p>@b.Name</p></td>
                <td><p>@b.Surname</p></td>
                <td><p>@b.Patronymic</p></td>
                <td><p>@b.Date_of_birth.Date</p></td>
                <td><p>@b.Position</p></td>
                <td><p>@b.Role</p></td>
                <td><p><a href="/Home/Delete/@b.Employee_ID">Удалить</a></p></td>
                <td><p><a href="/Home/Change/@b.Employee_ID">Изменить</a></p></td>
            </tr>
                
            }
            @if (ViewBag.temp == null)
            { ViewBag.temp = 0; }
        </table>
        <p><a href="/Home/Add_Employee/@ViewBag.temp">Добавить сотрудника</a></p>
    </div>
</body>
</html>